#ifndef SECRETS
#define SECRETS

#define SSID "SSID"
#define PASSWORD "PASSWORD"
#define SSID2 "SSID"
#define PASSWORD2 "PASSWORD"
#define MQTT_SERVER "mqtt.server.address"
#define STATUS_TOPIC "status/topic"
#define DATA_TOPIC "data/topic"
#define DEBUG_TOPIC "debug/topic"


#endif